#experienceSection{
  margin-top: 4rem;  
}
#experienceSection h2{
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2em;
  padding-bottom: 1.1em;
}
#experienceSection .cardSection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}