:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  --gradient-bg: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  --gradient-text: linear-gradient(10deg, #08a3da 0%, #ce67fa 50%);
  --gradient-bar: linear-gradient(10deg, #baeafb 0%, #d36dfe 28%);
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
p{
  margin: 0;
  line-height: normal;
}
h1, h2, h3, h5, h5{
  margin: 0;
  line-height: 1;
}
body{
  margin: 0;
}

.gradient_bg{
  background: var(--gradient-bg);
}

.container{
  margin: 0 10%;
  position: relative;
}

:root::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--gradient-bg);
  z-index: -1;
  background-size: 150% 150%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d1e38;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #040C18;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #071427;
}