:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  --gradient-bg: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  --gradient-text: linear-gradient(89.97deg, #AE67FA 0%, #6EF0FF 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #ff0000 99.55%);
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
p{
  margin: 0;
  line-height: normal;
}
h1, h2, h3, h5, h5{
  margin: 0;
  line-height: 1;
}
body{
  margin: 0;
}

.gradient_bg{
  background: var(--gradient-bg);
}